In [1]:
!pip install pandas
!pip install matplotlib
!pip install seaborn
import pandas as pd
import matplotlib
import seaborn as sns

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 21.2.4; however, version 23.2 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: matplotlib in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (3.7.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.20 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.25.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.41.0)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 21.2.4; however, version 23.2 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 21.2.4; however, version 23.2 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: seaborn in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=0.25 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [2]:
data=pd.read_csv('kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.shape

(21613, 21)

In [5]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [6]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000
mean,4580301520.86499,540088.14177,3.37084,2.11476,2079.89974,15106.96757,1.49431,0.00754,0.23430,3.40943,7.65687,1788.39069,291.50905,1971.00514,84.40226,98077.93980,47.56005,-122.21390,1986.55249,12768.45565
std,2876565571.31206,367127.19648,0.93006,0.77016,918.44090,41420.51152,0.53999,0.08652,0.76632,0.65074,1.17546,828.09098,442.57504,29.37341,401.67924,53.50503,0.13856,0.14083,685.39130,27304.17963
min,1000102.00000,75000.00000,0.00000,0.00000,290.00000,520.00000,1.00000,0.00000,0.00000,1.00000,1.00000,290.00000,0.00000,1900.00000,0.00000,98001.00000,47.15590,-122.51900,399.00000,651.00000
25%,2123049194.00000,321950.00000,3.00000,1.75000,1427.00000,5040.00000,1.00000,0.00000,0.00000,3.00000,7.00000,1190.00000,0.00000,1951.00000,0.00000,98033.00000,47.47100,-122.32800,1490.00000,5100.00000
50%,3904930410.00000,450000.00000,3.00000,2.25000,1910.00000,7618.00000,1.50000,0.00000,0.00000,3.00000,7.00000,1560.00000,0.00000,1975.00000,0.00000,98065.00000,47.57180,-122.23000,1840.00000,7620.00000
75%,7308900445.00000,645000.00000,4.00000,2.50000,2550.00000,10688.00000,2.00000,0.00000,0.00000,4.00000,8.00000,2210.00000,560.00000,1997.00000,0.00000,98118.00000,47.67800,-122.12500,2360.00000,10083.00000
max,9900000190.00000,7700000.00000,33.00000,8.00000,13540.00000,1651359.00000,3.50000,1.00000,4.00000,5.00000,13.00000,9410.00000,4820.00000,2015.00000,2015.00000,98199.00000,47.77760,-121.31500,6210.00000,871200.00000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
X=data[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement',
        'sqft_living15', 'sqft_lot15']]

In [11]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
0,3,1.00000,1180,5650,1.00000,0,0,3,7,1180,0,1340,5650
1,3,2.25000,2570,7242,2.00000,0,0,3,7,2170,400,1690,7639
2,2,1.00000,770,10000,1.00000,0,0,3,6,770,0,2720,8062
3,4,3.00000,1960,5000,1.00000,0,0,5,7,1050,910,1360,5000
4,3,2.00000,1680,8080,1.00000,0,0,3,8,1680,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50000,1530,1131,3.00000,0,0,3,8,1530,0,1530,1509
21609,4,2.50000,2310,5813,2.00000,0,0,3,8,2310,0,1830,7200
21610,2,0.75000,1020,1350,2.00000,0,0,3,7,1020,0,1020,2007
21611,3,2.50000,1600,2388,2.00000,0,0,3,8,1600,0,1410,1287
21612,2,0.75000,1020,1076,2.00000,0,0,3,7,1020,0,1020,1357

In [12]:
Y=data['price']

In [13]:
Y

0       221900.00000
1       538000.00000
2       180000.00000
3       604000.00000
4       510000.00000
            ...
21608   360000.00000
21609   400000.00000
21610   402101.00000
21611   400000.00000
21612   325000.00000
Name: price, Length: 21613, dtype: float64

In [14]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (1.3.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.25.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.3.1)

WARNING: You are using pip version 21.2.4; however, version 23.2 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.25,random_state=101)

In [17]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
19642,4,2.50000,2070,4270,2.00000,0,0,3,8,2070,0,2070,4610
8626,3,2.25000,1400,6970,2.00000,0,0,3,8,1400,0,1800,8140
6954,5,3.00000,2190,4900,2.00000,0,0,5,7,1490,700,1370,4606
20242,4,2.50000,2547,4800,2.00000,0,0,3,9,2547,0,2598,4800
10376,5,3.50000,4060,8309,2.00000,0,0,3,9,2960,1100,1730,11711
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,3,2.25000,1920,9672,2.00000,0,0,4,8,1920,0,1950,10125
8006,3,1.00000,1240,3600,1.50000,0,0,3,7,1240,0,1680,3600
17745,3,2.25000,1780,7332,2.00000,0,0,3,7,1780,0,1510,7625
17931,2,1.00000,1150,5000,1.00000,0,0,4,7,1050,100,1463,4320
13151,3,1.00000,1450,7930,1.00000,0,0,4,6,1150,300,1040,7740

In [18]:
Y_train

19642   493000.00000
8626    425000.00000
6954    588000.00000
20242   392440.00000
10376   630000.00000
            ...
5695    625000.00000
8006    390000.00000
17745   272450.00000
17931   552000.00000
13151   394000.00000
Name: price, Length: 16209, dtype: float64

In [19]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
3834,2,1.00000,1050,6317,1.50000,0,0,4,7,1050,0,1600,9616
1348,4,2.25000,2040,9565,1.00000,0,0,3,8,1400,640,1890,8580
20366,4,2.50000,2500,4000,2.00000,0,0,3,8,2500,0,1480,4300
16617,5,2.00000,2360,19899,1.00000,0,0,4,7,2360,0,1860,19998
20925,3,3.00000,1670,4440,1.00000,0,0,3,7,1670,0,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7148,3,1.75000,1520,5500,1.50000,0,0,5,7,1520,0,2310,5500
2747,5,3.00000,2970,10335,2.00000,0,0,3,9,2970,0,2970,10335
15565,3,2.50000,3440,103672,2.00000,0,0,3,9,3440,0,2710,112820
21238,3,2.50000,1572,4000,2.00000,0,0,3,8,1572,0,1608,5175
2333,3,3.00000,2920,23085,1.50000,0,2,3,7,1540,1380,2270,18180

In [20]:
Y_test

3834    349950.00000
1348    450000.00000
20366   635000.00000
16617   355500.00000
20925   246950.00000
            ...
7148    738000.00000
2747    726000.00000
15565   560000.00000
21238   299000.00000
2333    555000.00000
Name: price, Length: 5404, dtype: float64

In [21]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()

In [22]:
X_train_std=std.fit_transform(X_train)
X_test_std=std.transform(X_test)

In [23]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
19642,4,2.50000,2070,4270,2.00000,0,0,3,8,2070,0,2070,4610
8626,3,2.25000,1400,6970,2.00000,0,0,3,8,1400,0,1800,8140
6954,5,3.00000,2190,4900,2.00000,0,0,5,7,1490,700,1370,4606
20242,4,2.50000,2547,4800,2.00000,0,0,3,9,2547,0,2598,4800
10376,5,3.50000,4060,8309,2.00000,0,0,3,9,2960,1100,1730,11711
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5695,3,2.25000,1920,9672,2.00000,0,0,4,8,1920,0,1950,10125
8006,3,1.00000,1240,3600,1.50000,0,0,3,7,1240,0,1680,3600
17745,3,2.25000,1780,7332,2.00000,0,0,3,7,1780,0,1510,7625
17931,2,1.00000,1150,5000,1.00000,0,0,4,7,1050,100,1463,4320
13151,3,1.00000,1450,7930,1.00000,0,0,4,6,1150,300,1040,7740

In [24]:
X_train_std

array([[ 0.69608634,  0.49894508, -0.00810266, ..., -0.65896096,
         0.12372791, -0.29371924],
       [-0.40802008,  0.173745  , -0.74457445, ..., -0.65896096,
        -0.27289927, -0.16524962],
       [ 1.80019275,  1.14934525,  0.12380274, ...,  0.93301185,
        -0.90456477, -0.29386481],
       ...,
       [-0.40802008,  0.173745  , -0.32687403, ..., -0.65896096,
        -0.69890623, -0.18399236],
       [-1.51212649, -1.45225542, -1.01937736, ..., -0.43153627,
        -0.76794874, -0.3042734 ],
       [-0.40802008, -1.45225542, -0.68961387, ...,  0.0233131 ,
        -1.38933131, -0.17980708]])

In [25]:
X_test_std

array([[-1.51212649, -1.45225542, -1.12929852, ..., -0.65896096,
        -0.56669717, -0.11153258],
       [ 0.69608634,  0.173745  , -0.04107901, ...,  0.79655703,
        -0.14069021, -0.14923641],
       [ 0.69608634,  0.49894508,  0.46455834, ..., -0.65896096,
        -0.74297592, -0.30500127],
       ...,
       [-0.40802008,  0.49894508,  1.49781727, ..., -0.65896096,
         1.06388121,  3.64443868],
       [-0.40802008,  0.49894508, -0.55551005, ..., -0.65896096,
        -0.55494526, -0.27315682],
       [-0.40802008,  1.14934525,  0.92622723, ...,  2.47949972,
         0.41752581,  0.20014272]])

In [26]:
Y_train

19642   493000.00000
8626    425000.00000
6954    588000.00000
20242   392440.00000
10376   630000.00000
            ...
5695    625000.00000
8006    390000.00000
17745   272450.00000
17931   552000.00000
13151   394000.00000
Name: price, Length: 16209, dtype: float64

In [27]:
Y_test

3834    349950.00000
1348    450000.00000
20366   635000.00000
16617   355500.00000
20925   246950.00000
            ...
7148    738000.00000
2747    726000.00000
15565   560000.00000
21238   299000.00000
2333    555000.00000
Name: price, Length: 5404, dtype: float64

In [28]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [29]:
lr.fit(X_train_std,Y_train)

LinearRegression()

In [30]:
Y_pred=lr.predict(X_test_std)

In [31]:
Y_pred

array([356776.02589275, 511927.33428643, 573736.52389151, ...,
       824101.44697874, 437013.51415353, 731915.82170729])

In [32]:
Y_test

3834    349950.00000
1348    450000.00000
20366   635000.00000
16617   355500.00000
20925   246950.00000
            ...
7148    738000.00000
2747    726000.00000
15565   560000.00000
21238   299000.00000
2333    555000.00000
Name: price, Length: 5404, dtype: float64

In [33]:
from sklearn.metrics import mean_absolute_error,r2_score

In [34]:
mean_absolute_error(Y_test,Y_pred)

151500.5360109019

In [35]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,sqft_living15,sqft_lot15
3834,2,1.00000,1050,6317,1.50000,0,0,4,7,1050,0,1600,9616
1348,4,2.25000,2040,9565,1.00000,0,0,3,8,1400,640,1890,8580
20366,4,2.50000,2500,4000,2.00000,0,0,3,8,2500,0,1480,4300
16617,5,2.00000,2360,19899,1.00000,0,0,4,7,2360,0,1860,19998
20925,3,3.00000,1670,4440,1.00000,0,0,3,7,1670,0,1670,4622
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7148,3,1.75000,1520,5500,1.50000,0,0,5,7,1520,0,2310,5500
2747,5,3.00000,2970,10335,2.00000,0,0,3,9,2970,0,2970,10335
15565,3,2.50000,3440,103672,2.00000,0,0,3,9,3440,0,2710,112820
21238,3,2.50000,1572,4000,2.00000,0,0,3,8,1572,0,1608,5175
2333,3,3.00000,2920,23085,1.50000,0,2,3,7,1540,1380,2270,18180

In [36]:
X_test.loc[7148]

bedrooms           3.00000
bathrooms          1.75000
sqft_living     1520.00000
sqft_lot        5500.00000
floors             1.50000
waterfront         0.00000
view               0.00000
condition          5.00000
grade              7.00000
sqft_above      1520.00000
sqft_basement      0.00000
sqft_living15   2310.00000
sqft_lot15      5500.00000
Name: 7148, dtype: float64

In [37]:
r2_score(Y_test,Y_pred)

0.6211653492243892

In [38]:
new_house=[[3,1,1520,5000,1,0,0,3,8,1000,1,2000,5000]]

In [39]:
new_house_std=std.transform(new_house)

C:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [40]:
new_house_std

array([[-0.40802008, -1.45225542, -0.61266906, -0.23898601, -0.91886978,
        -0.08921717, -0.30859645, -0.62682707,  0.29479541, -0.95778828,
        -0.65668671,  0.02089864, -0.27952571]])

In [41]:
int(lr.predict(new_house_std))

C:\Users\HP\AppData\Local\Temp\ipykernel_13632\2175366686.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(lr.predict(new_house_std))

415354